// Sidebar.scss

.sidebar {
  width: 300px;
  padding: 24px;
  border-right: 1px solid #ddd;
  background: #fff;
}

.sidebar h2 {
  margin-bottom: 30px;
}

.sidebar nav {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.sidebar a {
  padding: 12px;
  text-decoration: none;
  color: #555;
  border-radius: 6px;
}

.sidebar a.active {
  background: #eee;
  color: #000;
}

.user-container{
    margin-bottom: 20px;
}