.transactions {
  padding: 40px;
  &__title {
    font-size: 32px;
    margin-bottom: 20px;
  }

  &__table-container {
    max-height: 80vh;
    overflow: hidden;
    overflow-y: auto;
  }

  &__add-button {
    margin-bottom: 20px;
  }
}
